body {
	padding: 15px;
	word-wrap: break-word;
	font-family: Georgia;
	font-size: 14pt;
	line-height: 1.45;
	color: #111;
}

@media only screen and (min-width: 1200px) {
	body {
		padding: 15px 20%;
	}
}

p.title {
	color: #258
}

p.heading {
	font-variant: small-caps;
}

span.verse {
	font-size: 80%;
}

span.caps {
	text-transform: uppercase;
}

a {
	color: #369
}

hr {
	height: 1px;
	border: none;
	background-color: #ccc;
	margin: 30px 0;
}